* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  margin: 20px 0 10px 15px;
  font-weight: 800;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4rem 0 2rem 2rem;
}

ul {
  border: 3px #000 solid;
  margin-top: 20px;
}

li {
  list-style: none;
  padding-left: 4px;
}

.gray-list {
  background-color: lightgray;
}

.recent-button {
  display: flex;
  justify-content: space-between;
}

.recent--add {
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0 10px 0;
  width: 85%;
}

.btn1 {
  width: 100px;
}

.btn2 {
  width: 100px;
  margin-left: 68%;
}
