* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  margin: 20px 0 10px 15px;
  font-weight: 800;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 0 2rem 2rem;
}

.recent-button {
  display: flex;
  justify-content: space-between;
}

.recent--add {
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0 10px 0;
  width: 85%;
}

.btn1 {
  width: 100px;
  border: 1px solid;
  box-shadow: 5px 5px #8888;
}

.btn2 {
  width: 100px;
  margin-left: 68%;
  border: 1px solid;
  box-shadow: 5px 5px #8888;
}

.recent-score {
  width: 100%;
  border: 3px black solid;
  border-radius: 8px;
  margin-top: 20px;
}

.recent-score p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
  line-break: anywhere;
}

.recent-score p:nth-child(odd) {
  background-color: yellow;
}

.recent-score p:nth-child(even) {
  background-color: goldenrod;
}
