@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "lato", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 20px 0 10px 15px;
  font-weight: 800;
  text-align: center;
}

.user-name-field,
.user-score-field {
  border: 2px rgb(11, 251, 11) solid;
  height: 30px;
  border-radius: 10px;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 0 2rem 2rem;
}

.recent-button {
  display: flex;
  justify-content: space-between;
}

.recent--add {
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0 10px 0;
  width: 85%;
}

.btn1 {
  width: 100px;
  border: 1px solid;
  box-shadow: 5px 5px #8888;
}

.btn2 {
  width: 100px;
  margin-left: 68%;
  border: 1px solid;
  box-shadow: 5px 5px #8888;
}

.btn2:hover {
  background-color: rgb(11, 251, 11);
}

.btn1:hover {
  width: 150px;
  background-color: rgb(11, 251, 11);
}

.recent-score {
  width: 100%;
  border: 3px rgb(11, 251, 11) solid;
  border-radius: 8px;
  margin-top: 20px;
}

.recent-score p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
  line-break: anywhere;
}

.recent-score p:nth-child(even) {
  background-color: whitesmoke;
}

.recent-score p:nth-child(odd) {
  background-color: rgb(11, 251, 11);
}
